/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;600&family=EB+Garamond:wght@400;600&display=swap');


body {
    background-color: #E5D1A4;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

nav {
    background-color: #34150F;
    padding: 14px 20px;
    margin-bottom: 2rem;
    border-bottom: 3px solid #FFEDAC;
    /* pull nav outside of padding for body - make it go full width */
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 100vw;
    padding-left: calc(50vw - 600px);
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    
}

nav ul li a {
    background-color: #CE793A;
    color: #E5D1A4;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

       a:hover {
    background-color: #B64B12;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'EB Garamond', serif;
    background-color: #f0dfa0;
    color: #271814;
    border: 1px solid #A07840;
    padding: 12px 16px;
    margin-bottom: 1rem;
    box-shadow: inset 0 0 8px rgba(120, 80, 20, 0.15);
}

.list > div::before {
    content: "- ";
}

.title {
    font-style: italic;
}

     a {
    color: #670626 !important;
}

     a:hover {
    color: #FFEDAC !important;
}



/*This section is for the nav buttons 
*/

.prev, .next {
    background-color: #CE793A;
    color: #E5D1A4;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    position: fixed;
    bottom: 32px; 
}
.prev:hover, .next:hover {
    background-color: #B64B12;
}


.prev {
left: 32px; 
}
.next { 
right: 32px; 
}

h1, h2{
    font-family: 'Cormorant SC', serif;
    background-color:#321f1b;
    color: #D39858;
    border: 3px solid #34150F;
    padding: 12px 20px;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    
}

h3, ul:not(nav ul), p{
    font-family: 'EB Garamond', serif;
    background-color: #f0dfa0;
    color: #271814;
    border: 1px solid #A07840;
    padding: 12px 16px;
    margin-bottom: 1rem;
    box-shadow: inset 0 0 8px rgba(120, 80, 20, 0.15);
}

/* decreased size of corpus title */
.main-title {
    font-size: 42px;
    line-height: 1.25;
}

/* stlying for highlight on scandalous text */
.scandalous {
   background-color: rgba(225, 182, 193, 0.6);
   padding: 2px 4px;
   border-radius: 4px;
}

/* styling for legend */
.legend {
    border: 1px solid #9b6b32;
    padding: 12px 16px;
    margin: 20px 0;
    background-color: #34150F;
    color: #f0dfa0;
    font-family: 'EB Garamond', serif;
}

/* tooltip hover */
#tooltip {
    position: fixed;
    background-color: #321f1b;
    color: #D39858;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'EB Garamond', serif;
    border: 1px solid #A07840;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 999;
}


/*  styling for boccacio image */
.author-section {
    margin: 2.5rem 0;
}

.author-portrait {
    width: 220px;
    text-align: center;
    padding: 10px;
    border: 3px solid black;
    outline: 2px solid gold;
    outline-offset: -8px;
    box-shadow: 4px 4px 0px gold, 8px 8px 0px black;
}

.author-portrait img {
    width: 200px;
}

.author-portrait figcaption {
    margin-top: 0.5rem;
    font-style: italic;
    font-size: 0.9rem;
}