body {
    background-color: #E5D1A4;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

nav {
    background-color: #34150F;
    padding: 12px 20px;
    margin-bottom: 2rem;
    border-bottom: 3px solid #FFEDAC;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    
}

nav ul li a {
    background-color: #CE793A;
    color: #E5D1A4;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

       a:hover {
    background-color: #B64B12;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list > div::before {
    content: "- ";
}

.title {
    font-style: italic;
}

     a {
    color: #670626 !important;
}

     a:hover {
    color: #FFEDAC !important;
}



/*This section is for the nav buttons 
*/

.prev, .next {
    background-color: #CE793A;
    color: #E5D1A4;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    position: fixed;
    bottom: 32px; 
}
.prev:hover, .next:hover {
    background-color: #B64B12;
}


.prev {
left: 32px; 
}
.next { 
right: 32px; 
}