body {
    background-color: #E5D1A4;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    
}

nav ul li a {
    background-color: #CE793A;
    color: #E5D1A4;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #B64B12;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list > div::before {
    content: "- ";
}

.title {
    font-style: italic;
}

ul ul li a {
    color: #670626 !important;
}

ul ul li a:hover {
    color: #FFEDAC !important;
}